@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --darkBlueCard: hsl(216, 50%, 16%);
  --darkBlueLine: hsl(215, 32%, 27%);
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--darkBlueCard);
    text-align: left;
    margin: auto;
    justify-content: center;
    object-fit: contain;
    padding: 20px;
    max-width: 90%;
    font-family: 'Outfit', sans-serif;
  }

.wrapper{
    position: relative;
}

.image{
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.hide {
    display: none;
    position: absolute;  
    left: 50%;
    top: 50%;                         
    transform: translate(-50%, -50%); 
}

.image:hover + .hide{
    display: block;
}

.image:hover{
    filter: opacity(0.6) drop-shadow(0 0 0 var(--cyan));
}

.title {
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0 20px 0;
  color: var(--white);
}

.description {
  padding-bottom: 15px;
  max-width: 360px;
  color: var(--softBlue);
  font-size: 18px;
}

.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
}

.eth{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--cyan);
}

.clock{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--softBlue);
}

hr{
    border-top: 10px var(--darkBlueLine);
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0 20px 0;
}

footer img{
    width: 30px;
    height: 30px;
    border: solid var(--white);
    border-radius: 20px
}

.author{
    color: var(--softBlue);
}

span{
    color: var(--white);
}

span:hover {
    color: var(--cyan);
}

.title:hover {
    color: var(--cyan);
}

.icons{
    margin-right: 0.5em;
}

.avatar{
    margin-right: 1em;
}


@media (min-width: 1440px) {
  .container {
    justify-content: center;
    width: 575px;
    padding: 40px;
  }

  .title {
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0 20px 0;
    max-width: 500px;
    margin: auto;
  }

  .description {
    font-size: x-large;
    max-width: 400px;
    padding-bottom: 20px;
  }

  .author{
    font-size: 18px;
  }

  footer img{
    width: 40px;
    height: 40px;
}
}